<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST_FORM</title>
    <script>
        // window.onload = function(){...};     서버로부터 로딩이 완료되면~
        document.addEventListener('DOMContentLoaded', () => {
            // document.getElementsByName('form');
            const form =  document.querySelector('form[name="postForm"]');        //form tag가 여려개 있을 수 있으니, 이름으로 구분
            const btn = document.querySelector('#btnSend');

            btn.addEventListener('click', () => {
                form.requestSubmit();       // 검증 후 자료 전송 실행
            });

            // 입력 자료 검사
            form.addEventListener('submit', (event) => {
                const name = document.querySelector('#username').value.trim();
                const email = document.querySelector('#email').value.trim();
                if(!name){
                    alert('이름 입력 똑바로 해라');
                    event.preventDefault();
                    return;
                };

                if(!email || !email.includes('@')){
                    alert('이메일 똑바로 적어라');
                    event.preventDefault();
                    return;
                };

            });

        });
    </script>
</head>
<body>
<h2>POST 방식 요청(자료가 body영역에 담겨 서버로 전달)</h2>
<form action="post_result" method="post" name="postForm">       <!--속성의 순서는 바뀌어도 됨-->
    이름 : <input type="text" name="username" id="username"><br>
    이메일 : <input type="text" name="email" id="email"><br>
    <input type="button" value="전송" id="btnSend"><br>
</form>
</body>
</html>